<!DOCTYPE html>
<html>
<head>
  <title>Sibyl</title>
  <%= stylesheet_link_tag    "sibyl/application", media: "all" %>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <%= javascript_include_tag "sibyl/application" %>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<body>

<%= yield %>

</body>
</html>
